<!-- Navbar -->
<nav class="navbar navbar-expand-lg align-items-center">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img class="brand-logo" src="/img/brand-logo.png" alt="Logo">
      <span class="brand-text ms-2">shri Velavan auto Consulting</span>
    </a>

    <div class="d-flex ms-auto align-items-center gap-3">
      <a href="/home"><i class="fas fa-home"></i></a>
      <a href="/table"><i class="fas fa-search"></i></a>
      <a href="/print"><i class="fas fa-print"></i></a>
      <a href="/notification"><i class="fas fa-bell"></i></a>
      <a href="/admin#set"><i class="fas fa-cog"></i></a>
      <a href="/admin"><i class="fas fa-user-circle"></i></a>
    </div>
  </div>
</nav>
