   :root {
       --main-color: rebeccapurple;
       --accent-color: #6a5acd;
       /* slate blue */
       --light-bg: #f9f7fc;
   }

   body {
       background-color: var(--light-bg);
       font-family: 'Segoe UI', sans-serif;
   }

   .navbar {
       background-color: var(--main-color);
   }

   .navbar .navbar-brand,
   .navbar .nav-link,
   .navbar i {
       color: white !important;
       font-weight: bold;
   }

   .navbar .fa-solid,
   .navbar .fas {
       font-size: 20px !important;
       transition: 0.2s;
   }

     .navbar .fa-solid,
   .navbar .fas:hover {
       font-size: 28px !important;
       transition:0.2s;
       color:#97a7be !important;
   }



   .navbar {
       padding: 0px;
   }

   .navbar-brand {
       padding: 0px !important;
   }

   .brand-logo {
       height: 60px;
       max-height: 100%;
       vertical-align: middle;
   }

   @media (max-width: 1076px) {
       .brand-text {
           display: none;
       }
   }

   button:hover{
    background-color:#612961 !important;
}